:root {
    // --- COLORS --- \\
    --primary-color: #1e3020;
    --secondary-color: #59b742;
    --tertiary-color: #faf4f4;
    --quaternary-color:#ffffff;
    --pentenary-color: #000000;

    // --- BUTTONS COLORS --\\
    --primary-button-bg: rgb(255, 255, 255);
    --primary-button-txt: rgb(0, 0, 0);
    --primary-button-hover-bg: rgb(61, 111, 66);
    --primary-button-hover-txt: rgb(255, 255, 255);

    --secondary-button-bg: rgb(61, 111, 66);
    --secondary-button-txt: rgb(255, 255, 255);
    --secondary-button-hover-bg: rgb(42, 84, 42);
    --secondary-button-hover-txt: rgb(255, 255, 255);

}