:root {
    // --- BACKGROUND COLORS --- \\
    --primary-bg-color: rgb(30, 48, 32);
    --secondary-bg-color: rgb(255, 255, 255);
    --tertiary-bg-color: rgb(61, 111, 66);
    --quaternary-bg-color:rgb(0, 0, 0);
    --pentenary-bg-color: rgb(240, 240, 240);
    --exanary-bg-color: rgb(115, 115, 115);

    // --- TEXT COLORS --- \\
    --primary-txt-color: rgb(255, 255, 255);
    --secondary-txt-color: rgb(0, 0, 0);
    --tertiary-txt-color: rgb(80, 142, 90);
    --quaternary-txt-color:rgb(156, 165, 157);
    --pentenary-txt-color: rgb(115, 115, 115);

    // --- BUTTONS COLORS --\\
    --primary-button-bg: rgb(255, 255, 255);
    --primary-button-txt: rgb(0, 0, 0);
    --primary-button-hover-bg: rgb(61, 111, 66);
    --primary-button-hover-txt: rgb(255, 255, 255);

    --secondary-button-bg: rgb(61, 111, 66);
    --secondary-button-txt: rgb(255, 255, 255);
    --secondary-button-hover-bg: rgb(42, 84, 42);
    --secondary-button-hover-txt: rgb(255, 255, 255);

    // --- BORDER RADIUS --- \\
    --standard-border-radius: 1.5rem;

    // --- BUTTONS/SEARCHBAR/INPUT-TEXT PADDING --- \\
    --standard-button-padding: 0.8rem 2rem;
    --standard-searchbar-padding: 0.5rem;

}